.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}   

.project {
    background-color: #e2edff;
}

section {
    padding-top: 6rem;
}


.gallery-img {
    width: 100%;
}


#gallery .row > * {
    padding: 0;
}


/* foto box */

.gambar-box {
    position: relative;
    background-color: #0c6efd ;
    border-radius: 10px;
    height: 500px;
    transform-style: preserve-3d;
}


.gambar-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.gambar-box:hover::before {
    opacity: 0.2;
}

.gambar-box::after {
    content: 'Picture';
    position: absolute;
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.gambar-box:hover::after {
    opacity: 0.2;
}

.gambar-name {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transition: 0.5s;
    top: 0;
    transform: translate3d(0,0,50px);
}

.gambar-box:hover .gambar-name {
    top: 20px;
    opacity: .7;
}

.tombol-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 100px);
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
}


.gambar-box:hover .tombol-name {
    bottom: 20px;
    opacity: 1;
}


/* gambar ketika di hover */
.gambar-dalam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 100px);
    max-width: 300px;
    transition: 0.5s;
}

.gambar-box:hover .gambar-dalam {
    transform: translate3d(-50%, -52%, 100px) scale(1.2);
}

.gambar-dalam1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 100px);
    max-width: 200px;
    transition: 0.5s;
}

.gambar-box:hover .gambar-dalam1 {
    transform: translate3d(-50%, -52%, 100px) scale(1.2);
}

.gambar-dalam2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 100px);
    max-width: 150px;
    transition: 0.5s;
}

.gambar-box:hover .gambar-dalam2 {
    transform: translate3d(-50%, -52%, 100px) scale(1.2);
}